/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2024, 10:13:15 PM
    Author     : ASUS
*/


*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
    font-family: "Spartan" , sans-serif;
}

.navigation{
    background-color:#088178;
    text-align:right;
    color:white;
}

.navigation ul li{
    display:inline-block;
    padding:25px;
}
.navigation ul li:hover{
    background-color:white;
    color:black;
    a{
        color:black;
    }
}
.navigation a{
	text-decoration:none;
	color:white;
}
.top{
    height: 50vh;
    padding: 40px 40px;
    margin: 40px 40px;
}
h2{
  font-size: 46px;
  line-height: 54px;
  color: #088178;
}
h4{
  font-size: 20px;
  color: #222;
}
p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0
}
.top a{
    text-decoration:none;
    color: #088178;
}

.category{
    height: 110vh;
    padding: 40px 40px;
    margin: 40px 40px;
}
.row { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin-bottom: 40px;
    justify-content: space-between;
}
.card { 
    width: 18%; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    padding: 10px; 
}
.card img { 
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 8px; 
}

footer {
    background-color: #088178;
    color: white;
    padding: 10px;
    margin-top: auto;
}
.footer-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section div {
    margin: 10px;
    max-width: 200px;
}
.footer-section h4 {
    margin-bottom: 10px;
}
.footer-reserved p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color:black;
}
ul li{
    list-style-type: none;
}
.footer-feedback{
    padding: 5px;
    margin: 5px;
}

/*adds*/
.adds{
    padding: 20px;
}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
  }

  .slide img {
    width: 100%;
    display: block;
    height: 400px;
  }

  .controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  .control {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .control:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }

  .indicator.active {
    background-color: #333;
  }
  @media screen and (max-width: 480px){
      .controls{
          display: none;
      }
  }